/* .compartilhamento_web { display: none; }
.compartilhamento_mobile {display: block !important;}
.redes_mobile {text-align: right;}
.redes_mobile li a {text-decoration: none;}
.redes_mobile li i {font-size: 2em; color: #A06000;} */
.detalhe_post { margin-top: 3%;}
.detalhe_post .posts {width: 70%; float: left; margin-bottom: 5%;}
